@use '../../Styles/variables.scss';

.dialog-box {
  width: 400px !important;

  .icon-container {
    width: full;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .icon {
    width: 90px;

    font-size: 90px;
    filter: none !important;
    // filter: brightness(0) saturate(100%) invert(45%) sepia(99%) saturate(2067%) hue-rotate(190deg) brightness(98%) contrast(99%);

    .anticon {
      color: variables.$primary-color !important;
    }
  }
  .message {
    color: variables.$confirm-modal-message-color;
    margin-top: 10px;
  }
  .subMessage {
    color: variables.$confirm-modal-submessage-color;
  }

  .modal-actions {
    display: flex;
    justify-content: center;
    gap: 36px;
    margin-top: 32px;

    button {
      text-transform: uppercase;
      width: 100px;
    }
  }

  .checkbox-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
  }
}
