# Guardian Configurations
GUARDIAN_URL=http://localhost:3000
 
# Database Configurations
DB_HOST=localhost // use "hedera_db" if you use the docker configuration
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=123
DB_NAME=hedera_db
DB_LOG_ENABLE=false
 
# JWT Configurations
API_JWT_SECRET=api_jwt_secret
API_JWT_EXPIRE=7200s
API_REFRESH_TOKEN_SECRET=api_refresh_jwt_secret
API_REFRESH_TOKEN_EXPIRE=7200s
 
# Mail Configurations
EMAIL_HOST=email-smtp.us-east-1.amazonaws.com
EMAIL_PORT=587
EMAIL_ID=<EMAIL_ID>
EMAIL_PASS=<EMAIL_PASS>
EMAIL_SEND_ADDRESS=<SEND_EMAIL_ADDRESS>
IS_EMAIL_ENABLE=true  # Enable Email Sending
IS_LOW_PRIORITY_EMAIL_ENABLE=true # Enable Low Priority Emails
 
# Policy Configurations
POLICY_ID=<POLICY_ID>
POLICY_TOPIC_ID=<POLICY_TOPIC_ID>
STANDARD_REGISTRY_USERNAME=<GUARDIAN_STANDARD_REGISTRY_USER>
STANDARD_REGISTRY_PASSWORD=<GUARDIAN_STANDARD_REGISTRY_USER_PWD>
STANDARD_REGISTRY_DID=<GUARDIAN_STANDARD_REGISTRY_USER_DID>
STANDARD_REGISTRY_HEDERA_ACCOUNT=<GUARDIAN_STANDARD_REGISTRY_HEDERA_ACCOUNT>

# DNA Org Configurations
DNA_ORGANIZATION_NAME='DNA Organization'
DNA_ROOT_EMAIL=<DNA_ROOT_USER_EMAIL>
DNA_ROOT_NAME='DNA Root User'

# If Custom Hedera Account Needed for DNA Org Provide Those from here
# DNA_ORGANIZATION_HEDERA_ACCOUNT_ID=<ORG_HEDERA_ACCOUNT_ID>
# DNA_ORGANIZATION_HEDERA_ACCOUNT_KEY=<ORG_HEDERA_ACCOUNT_KEY>
# DNA_ROOT_HEDERA_ACCOUNT_ID=<HEDERA_ACCOUNT_ID>
# DNA_ROOT_HEDERA_ACCOUNT_KEY=<HEDERA_ACCOUNT_KEY>

DNA_ROOT_PASSWORD=<DNA_ROOT_PASSWORD>
DNA_ROOT_PHONE_NO='94711111111'
DNA_ROOT_ORGANIZATION_PHONE_NO='94711111111'
DNA_ROOT_ORGANIZATION_PAYMENT_ID='1111111111'
DNA_ROOT_ORGANIZATION_EMAIL=<DNA_ROOT_ORG_EMAIL>
DNA_ROOT_ORGANIZATION_ADDRESS='DNA Organization, Address'
DNA_ROOT_ORGANIZATION_LOGO='https://carbon-common-uni.s3.amazonaws.com/profile_images%2F228_1736221366674.png'
API_USER_EMAIL=<API_USER_EMAIL>
API_USER_PASSWORD=<API_USER_PASSWORD>

# Hedera Configurations
HEDERA_NETWORK_TYPE='Testnet'
HBAR_EXCHANGE_RATE_API='https://testnet.mirrornode.hedera.com/api/v1/network/exchangerate'
GENERAL_HBAR_THRESHOLD=10

# Task Configurations
GUARDIAN_TASK_RETRY_COUNT=3
 
# Other Configurations
BACKEND_HOST=http://192.168.1.1:3000
APP_ENV=dev
PORT=3000
PASSWORD_SALT=secretSALT
PASSWORD_SECRET=secretPassword
EMAIL_TEMPLATE_LOCATION=libs/shared/src/mail/template
COUNTRY='United Nations'
COUNTRY_CODE=ZW
URL=http://localhost:3030
INIT_POLICY_ENABLE=true
INIT_ORGS_ENABLE=true
INIT_API_ADMIN=true
FORGOT_PWD_TOKEN_EXPIRE=3600 #in Seconds
TOKEN_LENGTH=8
TOKEN_VERIFICATION_SECRET=RESET_PWD_VERIFICATION